<!DOCTYPE html>
{% load static %}
# 쟝고 파일 로드 방식
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  HTML5 에서는
  엔터 , 탭 , 스페이스바와 같은
  키보드 값을 인식하지 않습니다.
  <p>HTML5에서는 스페이스바 대신 특수 문자를 사용해 주세요~~</p>
  <p>HTML5에서는 종료 태그를 사용하도록 권장한다. </p>
  <p> p 태그는 한 줄을 띌 때 사용합니다.</p>
  <!-- 이 곳은 HTML5 웹 표준 문서의 주석 구문 입니다. -->
  <p> 태그는 속성을 가질 수 있다.<태그명 속성="값">내용</태그명></p>
  <h1>폰트 크기를 의미한다.(h1~h6)</h1>
  <h2>폰트 크기를 의미한다.(h1~h6)</h2>
  <h3>폰트 크기를 의미한다.(h1~h6)</h3>
  <h3>제목을 정의할 때 사용 (고딕체)</h3>
  <img src = "{% static '/img/boy.png' %}" border = "" width = "100px" height = "50px" alt = "" title = "" />
</body>
</html>