<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <center>HTML5 기본 태그를 사용하는 방법을 통해서 문서의 구조를 파악해 보자.</center>
  <hr/>
  <div>
      <ol>
          <li><a href = "grammar/">문법 규칙</a></li>
          <li><a href = "layout/">웹 문서의 레이아웃</a></li>
          <li><a href = "move/">문서 이동</a></li>
          <li><a href = "list/">리스트</a></li>
          <li><a href = "table/">테이블</a></li>
          <hr/>
          <li><a href = "form/">입력 양식 태그와 공간 분할 태그</a></li>
      </ol>
  </div>
</body>
</html>