<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <p>화면을 분할하거나 배열을 구성하는 것으로 각 영역을 구분하는 태그 요소가 적용</p>
  <p>header , nav , section , article , aside , footer</p>
  <!-- header part -->
  <header>
    <center><h1>문서의 주 제목</h1></center>
    <nav>사이드를 의미합니다.</nav>
    <nav>Item01</nav>
    <nav>Item02</nav>
    <nav>Item03</nav>
  </header>
<hr/>
<!-- body plot -->
<section>
  <article>
    <header>
      <h2>부제목</h2>
      <p>이 곳은 부 세션의 영역입니다.</p>
    </header>
  </article>
  <article>
    <header>
      <h2>부제목</h2>
      <p>이 곳은 부 세션의 영역입니다. 2</p>
    </header>
  </article>
  <article>
    <hgroup>
      <h2>대그룹</h2>
      <h3>중그룹</h3>
      <h4>소그룹</h4>
    </hgroup>
  </article>
</section>
<!-- aside part -->
<aside>
  <p> 이 곳은 부가적 정보를 제공하는 공간입니다.</p>
</aside>
<footer>
  <small>사이트 정보 표시</small>
</footer>
</body>
</html>