<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <p> 무순서 ul, 순서 ol, 정의형 dl</p>
  <section>
      <article>
          <h2>무순서 목록</h2>
          <ul>
              <li>Coffee</li>
              <li>Tea
                <ul>
                    <li> Black tea </li>
                    <li> Green tea </li>
                </ul>
              </li>
          </ul>
      </article>
      <article>
          <h2>순서 목록</h2>
          <ol>
              <li>Apples</li>
              <li>Bananas</li>
              <li>Lemons</li>
              <li>Oranges</li>
          </ol>
      </article>
      <article>
          <h2>정의형 목록</h2>
          <dl>
              <dt>Apples</dt>
              <dt>Bananas</dt>
              <dt>Lemons</dt>
              <dt>Oranges</dt>
          </dl>
      </article>
  </section>

</body>
</html>