<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <p> a 태그를 이용해서 다른 사이트 혹은 같은 문서 내 다른 위치로 이동할 때 사용 </p>
  <article>
    <p><a href = "http://www.w3.org" target = "_blank" >w3c 사이트(blank)</a></p>
    <p><a href = "http://www.w3.org" target = "_self" >w3c 사이트(self)</a></p>
    <p><a href = "http://www.w3.org" target = "_parent">w3c 사이트(parent)</a></p>
    <p><a href = "http://www.w3.org" target = "_top">w3c 사이트(top)</a></p>
  </article>
</body>
</html>