<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <h2>테이블</h2>
  <table border="1" style="width:50%">
    <caption>게시물 테이블(표이름)</caption>
    <thead>
      <tr>
        <th>이름(표 컬럼)</th>
        <th>점수</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>이름(내용)</td>
        <td>점수</td>
      </tr>
      <tr>
        <td>이름</td>
        <td>점수</td>
      </tr>
      <tr>
        <td>colspan = 행합치기</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="2">참고 사이트 : http://www.w3school.com</td>
      </tr>
    </tfoot>
  </table>
</body>
</html>